* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.intro-chunk {
  width: 300px;
}

strong {
  color: hsl(160, 100%, 30%);
}

main {
  padding: 48px 0;
  border-top: 8px solid hsl(0, 0%, 40%);
  background: hsl(0, 0%, 60%);
}

p {
  padding: 16px;
}

h1 {
  padding-left: 16px;
  margin-top: 64px;
}

.card {
  padding-top: 8px;
  background: hsl(0, 0%, 100%);
  border-bottom: 8px solid hsl(0, 0%, 40%);
}

.indented-heading {
  width: fit-content;

  background: hsl(45, 100%, 50%);
  border-bottom: 8px solid hsl(45, 100%, 40%);

  padding: 16px 32px;
  margin-left: -16px;
}
